<footer>
<ul>
  <li><a href="tel:3109808335">(310) 980-8335</a></li>
  <li><a href="mailto:info@bryceedtherapy.com">info@bryceedtherapy.com</a></li>
</ul>
<p>
  &copy; {{ site.buildTime | dateDisplay('yyyy') }} Ann Bryce. All Rights Reserved
</p>
</footer>
